[Unit]
Description=Zookeeper
After=network.target

[Service]
User=zookeeper
Group=zookeeper
EnvironmentFile={{ zookeeper.conf_dir }}/environment
ExecStart="{{zookeeper.install_dir}}"/bin/zkServer.sh start-foreground
ExecStop="{{zookeeper.install_dir}}"/bin/zkServer.sh stop

[Install]
WantedBy=multi-user.target
